html,body{
	margin:0;
	padding:0;
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3{
	font-family: 'Slabo 27px', serif;
}

h4,h5{
	font-family: 'Source Sans Pro', sans-serif;
}

.container{
	max-width:1014px;
	padding:0 10px;
	margin:auto;
}

.main{
	width:98%;
	padding:1%;
	min-height:740px;
	padding-top:81px;
	margin-bottom:50px;
	position:relative;
}

button{
	cursor:pointer;
	padding:1%;
	background-color:$white;
	border:0;
	color:$grey;
	border:2px solid $grey;
	width:98%;
}
