/*
* ------------ $COLORES ------------
*/
$black: #0B0704;
$grey: #333333;
$grey-light: #c9c9c9;
$white: #FFFFFF;

/*
* ------------ $BREAKPOINTS ------------
*/
$breakpoint-desktop: 980px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

/*
* ------------ $GLOBALS ------------
*/

