.filters{
	width:98%;
	min-height:50px;
	position:fixed;
	top:81px;
	margin:auto;
	background-color:$white;
	z-index:990;
	&--responsive{
		padding-top:20px;
		display:none;
	}
	&--normal{
		display:flex;
		padding:10px 0;
		flex-direction:row;
		justify-content: space-between;
		align-items: center;
	}
	&__colors{
		display:flex;
		align-items:center;
	}
	&__sizes{
		display:flex;
		align-items:center;
	}
	&__reset{
		display:none;
		min-width:150px;
	}
	&__icon{
		display:flex;
		justify-content:flex-end;
		align-items:center;	
		p{
			margin-right:10px;
		}
		svg{
			font-size:1.5em;
			cursor:pointer;
		}
	}
}

.color, .size{
	font-size:1.2em;
	font-weight:bold;
	width:25px;
	height:25px;
	margin:2px;
	cursor:pointer;
	border:2px solid transparent;
}
.size{
	text-align:center;
}
.active{
	border:2px solid $black;
}

@media (max-width:$breakpoint-mobile){
	.filters{
		&--responsive{
			display:block;
		}
		&--normal{
			display:none;
			height:auto;
			padding:10px 0 10px 0;
		}
		&__colors{
			float:left;
			& .color{
				width:20px;
				height:20px;
			}
		}
		&__sizes{
			float:right;
			& .size{
				font-size:1em;
				width:20px;
				height:20px;
			}
		}
		&__icon{
			display:none;
		}
		&__reset{
			margin-top:10px;
		}
	}
}	


