.grid{
  padding-top:70px;
}

.grid-item{
  padding:10px;
  background-color:$grey-light;
  margin-bottom:20px;
  overflow:hidden;
  &__image{
    width:100%;
    height:60px;
    background-color:$white;
  }

  &__info{
    h4{
      font-size:0.6em;
      text-transform:uppercase;
      margin:5px 0;

    }
    p{
      width:100%;
      font-size:0.6em;
      margin:0;
      display:inline-block; 
      & .color{
        width:15px;
        height:15px;
        position: relative;
        bottom: 5px;
      }
      & span{
        font-size:14px;
        position: relative;
        top: 1px;
        font-weight:bold;
      }
    }
    h3{
      margin:5px 0;
      float:right;
    }
  }
}
/*
* -------------- $GRID-COLUMNS -------------
*/
.row:before,
.row:after{
  display: table;
  content: " ";
}
.row:after{
  clear: both;
}
.col-xs-1, .col-md-1, .col-lg-1, .col-xs-2, .col-md-2, .col-lg-2, .col-xs-3, .col-md-3, .col-lg-3, .col-xs-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-md-5, .col-lg-5, .col-xs-6, .col-md-6, .col-lg-6, .col-xs-7, .col-md-7, .col-lg-7, .col-xs-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-md-9, .col-lg-9, .col-xs-10, .col-md-10, .col-lg-10, .col-xs-11, .col-md-11, .col-lg-11, .col-xs-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left:10px;
  padding-right:10px;
  box-sizing:border-box;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}  

@media (min-width: $breakpoint-mobile) {
  .grid-item{
    &__image{
      height:120px;
    }
    &__info{
      h4{
        font-size:0.8em;
      }
      p{
        font-size:0.6em; 
      }
    }
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: $breakpoint-tablet) {
  .grid-item{
    &__info{
      h4{
        font-size:1em;
      }
      p{
        font-size:0.9em; 
      }
    }
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}