.header{
	width:100%;
	height:80px;
	position:fixed;
	top:0;
	left:0;
	background-color:$white;
	border-bottom: 1px solid $black;
	z-index:999;
	.container{
		display:grid;
		grid-template-columns:15% 70% 15%;
		grid-template-areas: "logo nav search";
		justify-content:space-around;
		align-items:center;
	}
	&__logo{
		text-align:left;
		grid-area:logo;
		& h1{
			color:$grey;
			font-weight: normal;
			&:before{
				content: "{";
			}
			&:after{
				content: "}";
			}
		}
	}

	&__menu{
		grid-area:nav;
		&__icon{
			float:left;
			display: none;
			div{
				padding:5px;
				width:22px;
				float:right;
				height:22px;
				background-color:$white;
				font-size:1em;
				color:$grey;
				text-align:center;
				cursor:pointer;
				border:2px solid $grey;
			}

		}
		&--normal{
			padding-left:0;
			display:flex;
			flex-direction: row;
			justify-content:space-around;
			align-items:center;
			list-style:none;
			li{
				transition:0.3s ease-in;
				text-align:center;
				width:28%;
				margin:1%;
				padding:1%;
				border-bottom: 3px solid transparent;
				a{
					color:$black;
					text-decoration:none;
				}
				&:hover{
					border-bottom: 3px solid $grey;
					& a{
						color:$grey;
					}		
				}
			}
		}
		&--responsive{
			display:none;
			position:absolute;
			padding-left:0;
			margin:0;
			width:80vw;
			height:100vh;
			padding-top:15px;
			top:81px;
			left:0;
			bottom:0;
			background-color:$white;
			transition:1.3s easi-in-out;
			list-style:none;
			border-right:1px solid $black;
			li{
				transition:0.3s ease-in;
				text-align:center;
				width:98%;
				padding:1%;
				border-bottom: 3px solid transparent;
				a{
					color:$black;
					text-decoration:none;
				}
				&:hover{
					border-bottom: 3px solid $grey;
					& a{
						color:$grey;
					}		
				}
			}
		}
	
	}
	&__search{
		text-align:right;
		grid-area:search;
		div{
			padding:5px;
			width:22px;
			float:right;
			height:22px;
			background-color:$grey;
			font-size:1em;
			color:$white;
			text-align:center;
			cursor:pointer;
		}
	}
}

@media (max-width:$breakpoint-desktop){
	.header .container{
		grid-template-columns:15% 70% 15%;
		grid-template-areas: "nav logo search";
	}
	.header__logo{
		text-align:center;
	}
	.header__menu__icon{
		display:block;
	}
	.header__menu--normal{
		display:none;
	}
}